* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-poppins);
}

span.helloEmoji {
  height: 24px;
  padding-left: 8px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

span.emoji {
  height: 24px;
}

img.emoji {
  width: 24px;
  height: 24px;

  margin-right: 0.75rem;
}
