* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

span.emoji {
  height: 24px;
}

img.emoji {
  width: 24px;
  height: 24px;

  margin-right: 0.75rem;
}
